<ion-header>
  <ion-toolbar>
    <center><ion-title >Profile</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-horizontal" *ngIf="userData">
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" size-sm="2">
        <ion-row class="ion-align-items-end ion-justify-content-end">
          <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>
          <ion-img src="assets/icon/Picture.jpg" style="object-fit: contain; width: 100%;" *ngIf="!imageUrl"></ion-img>
          <img id="profilePicture" src="{{imageUrl}}" class="circle-image" *ngIf="imageUrl" (load)="imageLoaded()">
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">

        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-button class="" color="primary" expand="block" (click)="presentImageActionSheet()">
              Change Photo Profile
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-text class="ion-text-center">
          <h2 class="text-bold ion-no-margin ion-margin-top">
            <b>{{ userData.fullName }}</b>
          </h2>
          <h4 class="ion-no-margin ion-padding-bottom">
            <b>00000020163</b>
          </h4>
        </ion-text>

        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-button class="" color="danger" expand="block" (click)="onLogout()">
              Logout
            </ion-button>
          </ion-col>
        </ion-row>

        <div class="ion-margin-top ion-justify-content-center" >
            Pesan dan kesan saya selama mengikuti mata kuliah ini adalah :<br><br>
            (a) keren abis! pengen lagi deh semester depan<br>
            (b) biasa aja<br>
            (c) kelas apaan sih ini<br>
            (d) kelas sampah<br><br>
            Jawaban saya tergantung dari nilai yang diberikan kalian berikan, aslab aslab ku !
        </div>

        <div class="ion-padding ion-margin-top ">
          <ion-card-title class="ion-margin-bottom text-bold "  style="font-size: 1em">
            <center><b>My Feeds</b></center>
          </ion-card-title>

          <div class="text-gray" *ngIf="!userLocations" style="font-size:0.8em">
            There is no location history!
          </div>

          <div *ngIf="userLocations">
            <ion-item lines="none" class="ion-margin-top" style="font-size: 0.8em" ion-long-press [interval]="800"  *ngFor="let eachLocation of userLocations; let i = index" (pressed)="onPress(i)">
              <ion-label>
                <span class="text-gray" style="font-size: 0.9em">{{ 'at ' + eachLocation.date + ', ' + eachLocation.time }}</span>
                <div style="padding-top: 4px; font-size: 1.1em">{{ userData.fullName + ' visited ' + eachLocation.locName }}</div>
              </ion-label>
            </ion-item>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
