<ion-header>
  <ion-toolbar>
    <center><ion-title>Friend List</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab id="fabCurLoc" vertical="bottom" horizontal="end" slot="fixed" style="padding-right: 10px">
    <ion-fab-button (click)="goToAdd()" color="success">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-item lines="none" class="ion-margin-top">
          <ion-input type="text" [(ngModel)]="searchedValue" placeholder="Search Friends" (ionChange)="searchFriends()"></ion-input>
          <ion-icon class="ion-align-self-end" slot="end" name="search-outline" (click)="searchFriends()" style="cursor: pointer"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-sm="6" *ngIf="userFilter">
        <div *ngFor="let friends of userFilter; let i = index" >
          <ion-row class="ion-align-items-center">
            <ion-col size="4" size-sm="3">
              <ion-img src="assets/icon/Picture.jpg" style="object-fit: contain" *ngIf="!friends.imageUrl"></ion-img>
              <img id="friendsPicture{{i}}" src="{{ friends.imageUrl }}" class="circle-image" *ngIf="friends.imageUrl" (load)="imageLoaded($event)" >
            </ion-col>
            <ion-col size="8" size-sm="10">
              {{ friends.fullName }}
              <ion-icon color="danger" name="close-outline" size="large" (click)="onPress(i, friends.fullName)" ></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
